@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-ExtraLight.tff') format('typetrue');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-ExtraLightItalic.tff') format('typetrue');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Light.tff') format('typetrue');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-LightItalic.tff') format('typetrue');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Regular.tff') format('typetrue');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Italic.tff') format('typetrue');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Medium.tff') format('typetrue');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-MediumItalic.tff') format('typetrue');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-SemiBold.tff') format('typetrue');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-SemiBoldItalic.tff') format('typetrue');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Bold.tff') format('typetrue');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-BoldItalic.tff') format('typetrue');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-Bold.tff') format('typetrue');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-BoldItalic.tff') format('typetrue');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-ExtraBold.tff') format('typetrue');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Display';
  src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.tff') format('typetrue');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}